.left { width: 95%;}

.ln-1 {
	display: flex;
	justify-content: space-between;
}

.ln-2 {
	display: flex;
}

.ln-2 div:nth-child(2),
.ln-2 div:nth-child(3) {
	margin-left: 93px;
}


.text {
	margin-top: 20px;
}