.left { width: 95%;}

.ln-1 {
	display: flex;
	justify-content: space-between;
}

/* tab */
.tab {
  position: relative;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
}

.tab-panel {
  display: inline-block; 
  min-height: 150px; 
}

.tab-open {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tab-nav {
  cursor: pointer; 
  font-size: 20px; 
  display: inline-block ;
  padding: 4px 21px; 
  color: #A4A4A4;
}

.tab-open,
.tab-nav:hover,
.tab-open:checked ~ .tab-nav  {
  border: 1px solid #A4A4A4;
  color: #505050;
  border-radius: 3px 3px 0 0;
}

.tab-inner  { 
  opacity: 0;
  position: absolute;  
  left: 0 ;
  visibility: hidden; 
  border: 1px solid #A4A4A4;
  border-radius: 2px;
  display: flex;
}

.tab-open:checked ~ .tab-inner { 
  opacity: 100;
  visibility: visible;
  transition: opacity 0.6s ease; 
  width: 993px;
  padding: 12px 15px;
}

.tab-inner p {
  font-size: 20px;
  margin: 10px 0;
  color: #505050;
}

.tab-inner span { color: #A4A4A4; }
.left-tab {width: 50%;}
.right-tab { width: 50%;}

/* Outras informações */
.outras-info {
  display: flex;
}

.outras-info p {
  font-size: 20px;
  margin: 10px 0;
  color: #505050;
}

.outras-info span { color: #A4A4A4; }
.left-info {width: 50%;}
.right-info { width: 50%;}
